In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# Ans : - Structured Query Language(SQL) in this be save data into table formate
# ex: - MySQL, PostgreSQL, SQLite, Oracle, SQL Server, etc
# NoSQL Databases in this case store data in key value paire 
# ex:- monogodb

In [2]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# Ans :- DDL stands for Data Definition Language. 
# It's a subset of SQL (Structured Query Language) used for defining,
# altering, and dropping database objects such as tables, indexes, views,and constraints.
# DDL statements are used to define the structure and layout of the database and its objects.
# 1.CREATE:-
#     CREATE TABLE employees (
#     id INT PRIMARY KEY,
#     name VARCHAR(100),
#     age INT,
#     department VARCHAR(100)
# );
# 2.DROP:-
# DROP TABLE employees;
# 3.ALTER:-
#     ALTER TABLE employees
#     ADD COLUMN email VARCHAR(100);
# 4.TRUNCATE:-
#     TRUNCATE TABLE employees;

In [4]:
# #Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Ans:-
# DML stands for Data Manipulation Language.
# It's a subset of SQL (Structured Query Language) used for manipulating data within database objects such as tables. DML commands allow users to insert, update, delete, and retrieve data from the database.
# 1.INSERT: -
#      INSERT INTO employees (id, name, age, department)
#      VALUES (1, 'John Doe', 30, 'IT');
# 2.UPDATE: -
#    UPDATE employees
#    SET age = 31
#    WHERE id = 1;
# 3.DELETE:-
#      DELETE FROM employees
#      WHERE id = 1;

In [5]:
# #Q4. What is DQL? Explain SELECT with an example.
# Ans : -
# DQL stands for Data Query Language. It's a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
# DQL commands primarily consist of the SELECT statement, which allows users to specify the data they want to retrieve and the conditions for selecting it.
# SELECT column1, column2, ...
# FROM table_name
# WHERE condition;

In [6]:
# Q5. Explain Primary Key and Foreign Key.
# Ans : -
#  1.Primary Key:

# A Primary Key is a column or set of columns that uniquely identifies each record (row) in a table.
# It must contain unique values for each row and cannot contain NULL values.
# Every table in a relational database should have a Primary Key, as it serves as a unique identifier for the records.
# Typically, Primary Keys are implemented using unique indexes.
# Examples of Primary Key columns include employee ID, student ID, order ID, etc.
# 2. Foreign Key:

# A Foreign Key is a column or set of columns in a table that refers to the Primary Key of another table.
# It establishes a relationship between two tables by referencing the Primary Key column(s) of one table in another table.
# Foreign Keys help enforce referential integrity, ensuring that data in related tables remain consistent.
# When a Foreign Key is defined in a table, the values in that column must match the values of the Primary Key column(s) in the referenced table, or be NULL (if the Foreign Key column allows NULL values).
# Foreign Keys can be one-to-one, one-to-many, or many-to-many relationships between tables.
# Examples of Foreign Key columns include employee ID referencing a department table, customer ID referencing an order table, etc.
# Here's an example illustrating the use of Primary Key and Foreign Key:
# Consider two tables: students and courses.
# sql
# Copy code
# CREATE TABLE students (
#     student_id INT PRIMARY KEY,
#     student_name VARCHAR(50),
#     age INT
# );

# CREATE TABLE courses (
#     course_id INT PRIMARY KEY,
#     course_name VARCHAR(50),
#     instructor VARCHAR(50),
#     student_id INT,
#     FOREIGN KEY (student_id) REFERENCES students(student_id)
# );

In [11]:
# # Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Ans : - 
# #pip install mysql-connector-python
# import mysql.connector

# # Connect to MySQL
# mydb = mysql.connector.connect(
#     host="localhost",
#     user="yourusername",
#     password="yourpassword",
#     database="yourdatabase"
# )

# # Create a cursor object
# mycursor = mydb.cursor()

# # Execute SQL queries
# # Example 1: Create a table
# mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

# # Example 2: Insert data into the table
# sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
# val = ("John", "Highway 21")
# mycursor.execute(sql, val)
# mydb.commit()  # Commit changes

# print(mycursor.rowcount, "record inserted.")

# # Example 3: Select data from the table
# mycursor.execute("SELECT * FROM customers")
# result = mycursor.fetchall()  # Fetch all rows

# for row in result:
#     print(row)

# # Close cursor and connection
# mycursor.close()
# mydb.close()

In [ ]:
# 7.Give the order of execution of SQL clauses in an SQL query.
# In SQL, the order of execution of clauses in an SQL query generally follows this sequence:

# 1.FROM: The FROM clause specifies the tables from which data will be retrieved or manipulated. It's the first clause processed in a query.

# 2.WHERE: The WHERE clause filters the rows returned by the FROM clause based on specified conditions. It's applied after the FROM clause and before any other clauses (except FROM itself).

# 3.GROUP BY: The GROUP BY clause is used to group rows that have the same values into summary rows. It's applied after the WHERE clause and before the SELECT clause.

# 4.HAVING: The HAVING clause filters grouped rows returned by the GROUP BY clause based on specified conditions. It's applied after the GROUP BY clause and before the ORDER BY clause.

# 5.SELECT: The SELECT clause specifies the columns that will be returned in the result set. It's applied after the previous clauses have been processed.

# 6.ORDER BY: The ORDER BY clause sorts the rows returned by the query based on specified columns or expressions. It's applied after the SELECT clause.

# 7.LIMIT/OFFSET: The LIMIT and OFFSET clauses are used to restrict the number of rows returned by the query and to skip a specific number of rows, respectively. They're typically applied after the ORDER BY clause.